* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  color: #1a1a1a;
  background: #fff;
  line-height: 1.6;
}


.hero {
  background: linear-gradient(180deg,#f4efe9 50% );
  text-align: center;
 min-height:80vh;
  padding: 80px 20px;
  position: relative;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  top: 0;
  width: 100%;
}

.logo {
  font-weight: bold;
  color: #e63946;
  font-size: 20px;
}

.opt {
  font-size: 18px;
  color: #444;
}

.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}
.hero-content img{
  border-radius:10%;
  width:100%;
  height:auto;
  display:block;
}

.hero-content p {
  color: black;
  font-size: 20px;
}

.btn {
  display: inline-block;
  background: #00754a;
  color: #fff;
  padding: 12px 25px;
  border-radius: 30px;
  margin-top: 15px;
  text-decoration: none;
  font-weight: 600;
}

.guarantee {
  font-size: 12px;
  color: #666;
  margin-top: 10px;
}


.features {
  padding: 60px 10%;
}

.feature {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
}

.feature.reverse {
  flex-direction: row-reverse;
}

.feature img {
  width: 150px;
  border:1px solid black;
  border-radius:100%;
}
.feature img:hover{
  transform:scale(1.3);
}

.feature h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.feature p {
  color: #555;
  margin-bottom: 15px;
}

.link {
  color: #00754a;
  text-decoration: none;
  font-weight: 500;
}


.advantages {
  background: #fafafa;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 10%;
  text-align: center;
}

.adv {
  flex: 1;
}

.adv img {
  width: 70px;
  margin-bottom: 15px;
  border-radius:100%;
  border:1px solid black;
 cursor:pointer;
}
.adv img:hover{
  transform: scale(1.5);
}

.adv h3 {
  font-size: 1.3rem;
  margin-bottom: 8px;
}


.map {
  background: #fff6f6;
  text-align: center;
  padding: 80px 10%;
}

.map img {
  width: 70%;
  margin: 30px 0;
}

.map-stats {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 18px;
}

.map-stats strong {
  font-size: 2rem;
  color: #1a1a1a;
}

footer {
  background: #f8f8f8;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #777;
}


@media (max-width: 768px) {
  .feature {
    flex-direction: column;
    text-align: center;
  }

  .advantages {
    flex-direction: column;
  }

  .map img {
    width:90%;
}
}